:root {
  --blue: hsl(223, 87%, 63%);
  --hover-blue: hsl(223, 97%, 75%);
  --pale-blue: hsl(223, 100%, 88%);
  --red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  color: var(--dark-blue);
}

.logo-div {
  display: flex;
  justify-content: center;
}

.logo {
  padding: 80px 0px 40px 0px;
}

.text {
  line-height: 1.5;
  text-align: center;
  font-size: 50px;
  padding: 0px 0px 40px 0px;
}

@media (max-width: 768px) {
  .text {
    font-size: 30px;
    line-height: 2;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  .text {
    font-size: 20px;
  }
}

.text span.top-text {
  color: var(--gray);
}

.text span.text-bold {
  color: var(--dark-blue);
  font-weight: 700;
}

.text p {
  font-size: 20px;
}

.form {
  padding: 0px 1.5em;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.email {
  width: 500px;
  border: 1px solid var(--pale-blue);
  padding: 0px 20px 0px 20px;
  border-radius: 50px;
}

.email::placeholder{
  font-size: 10px;
  color: var(--pale-blue);
}

button {
  width: 180px;
  font-size: 8px;
  color: white;
  background-color: var(--blue);
  border: none;
  border-radius: 25px;
  padding: 8px 30px;
  box-shadow: 0 4px 20px var(--pale-blue) ;
}

button:hover {
  cursor: pointer;
  background-color: var(--hover-blue);
  box-shadow: 0 4px 20px var(--pale-blue) ;
}

@media (max-width: 768px) {
  .form {
    gap: 15px;
  }
  .email {
    width: 70vw;
  }
}

@media (max-width: 480px) {
  .form {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
  }

  .email {
    padding: 15px 20px;
    width: 70vw;
  }

  button {
    padding: 15px;
    width: 100%;
  }

  .text p {
    font-size: 15px;
  }
}

.illustration-div {
  margin: auto;
  max-width: 70vh;
  padding: 80px 20px 80px 20px;
}

.illustration {
  display: block;
  max-width: 100%;
}

.social-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0px 0px 15px 0px;
  cursor: pointer;
}

.copyright {
  color: var(--gray);
  text-align: center;
  font-size: 5px;
}

/* end here!!! */

.attribution {
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 50%);
  padding-top: 100px;
}

p.attribution a {
  color: rgba(35, 135, 135, 0.5);
  text-decoration: none;
}

p.attribution a:hover {
  color: rgba(35, 135, 135, 1);
  text-decoration: underline;
}